.search {
    position: relative;
    width: 300px;

    &__input {
        color: #111827;
        background-color: #f9fafb;
        border-width: 1px;
        border-style: solid;
        border-color: #d1d5db;
        border-radius: 0.5rem;
        width: 100%;
        height: 100%;
        padding: 5px 30px 5px 10px;

        &:focus {
            outline: auto;
            outline-color: #3f83f8;
        }
    }

    &__clear {
        position: absolute;
        right: 7px;
        top: 50%;
        transform: translateY(-50%);
        line-height: 1;
        background-color: #000;
        border-radius: 100%;
        padding: 0;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-size: 8px;
    }

    @media (max-width: 600px) {
        width: 100%;
    }
}